*{
	margin:0;
	padding: 0;
	list-style: none;
	font-family: 微软雅黑;
	text-decoration: none;
	font-weight: normal;
}
html{height: 100%;}
body{
	height: 100%;
	background-color: #0b56ac;
}
#fixed_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(../images/background.gif) no-repeat left;
	z-index: -999;
}
header{
	width: 100%;
	padding-top: 38px;
}
nav{
	width: 980px;
	height: 76px;
	margin: 22px auto 0 auto;
	background-color: #0078c3;
}
nav img{
	margin-left: 44px;
	float: left;
}
nav ul{
	width: 810px;
	float: left;
}
nav li{
	float: left;
	margin-left: 18px;
	height: 76px;
	line-height: 76px;
}
nav a{
	padding: 5px 13px;
	border:0;
	border-radius: 8px;	
	color: #fff;
}
nav a:hover{
	background-color: #00195b;
}
a:hover{
	transition:.5s all;/*ie10*/
 	-webkit-transition:.5s all;
}
#nav2{
	width: 906px;
	height: 52px;
	background-color: #bed9ec;
	margin: 0 auto;
	padding: 0 14px 0 60px;	
}
#nav2 #indicator{
	color: #006bb9;
	line-height: 52px;
	font-size: 14px;
	float: left;
	position: relative;
	width: 98px;
	text-align: center;
}
#indicator:after{
	content: '';
	display: block;
	border: 8px solid rgba(190,217,236,0);
	border-top-color: rgba(190,217,236,1);
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 52px;
}
#nav2 ul{
	float: right;
}
#nav2 li{
	float: left;
	line-height: 52px;
	padding: 0 5px;
	color: #006bb9;
	font-size: 12px;
}
#nav2 li a{
	color: #006bb9;
	font-size: 12px;
}
#nav2 a:hover{
	text-decoration: underline;
}
#nav2:after{
	content: '';
	display: block;
	clear: both;
}
#main{
	width: 980px;
	margin: 20px auto;
}
#main>ul>li{
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
	background-color: rgba(255,255,255,0.3);
	overflow: hidden;
	color: #fff;
}
#main li img{
	width: 480px;
	float: left;
	margin-right: 24px;
}
#main li h1{
	font-size: 18px;
	margin-top: 10px;
}
#main li h2{
	font-size: 14px;
	margin: 38px 0 25px 0;
}
#main li p{
	font-size: 14px;
	margin-right: 24px;
}
.learn_more{
	padding: 10px 35px;
	border-radius: 5px;
	background-color: #76caca;
	font-size: 24px;
	float: right;
	clear: right;
	color: #fff;
	margin: 30px 24px;
}
.learn_more:hover{
	color: #76caca;
	background-color: #fff;
}
footer{
	height: 111px;
	width: 980px;
	margin: 30px auto;
	background: #1f2228;
	color: #eee;
	text-align: center;
}
#shareBox{
	width: 174px;
	margin: 0 auto;
	padding-top: 25px;
}