<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/share.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/club.css">
	<!--[if IE]>
	<script type="text/javascript" src="__PUBLIC__/js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="fixed_bg"></div>
	<header>
		<nav>
			<img src="__PUBLIC__/images/logo.gif">
			<ul id="navbar">
				<li>
					<a href="{:U('index')}">首页</a>
				</li>
				<volist name="columns" id="vo" ><eq name="vo['fid']" value="0" >
				<li>
				 <a href="{:U('showContent')}?cid={$vo.cid}">{$vo.name}</a>
				 <ul class="down_menu" >
				    <volist name="columns" id="voc"><eq name="voc['fid']" value="$vo['cid']" >
				    <li>
				        <a href="{:U('showContent')}?cid={$voc.cid}">{$voc.name}</a>
				    </li>
				    </eq></volist>
				 </ul>
				</li>
				</eq></volist>
				<div style="clear:both;"></div>
			</ul>			
		</nav>
		<div id="nav2">
			<span id="indicator">{$column['name']}</span>
			<ul>
				<li><a href="{:U('showContent')}?cid={$column['fc']['cid']}">{$column['fc']['name']}</a></li>
				<li><a href="{:U('showContent')}?cid={$column['cid']}">{$column['name']}</a></li>				
			</ul>
			<ul style="display:none;" id="hid"><li>/</li></ul>
		</div>		
	</header>
	<div id="main">
		<h1>{$content.title}</h1>
		<article>
		{$content.content}
	    </article>
	</div>
	<footer>
		<div id="sns">			
			<a href="http://weibo.com/u/5642419086" target="_blank" class="sns_weibo"></a>
			<a href="#" class="sns_weixin"></a>
	  		<div id="weixin_code"></div>
		</div>
	</footer>
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/share.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var nav2num = $('#nav2 li').length;
		console.log(nav2num);
		for(var i=1;i<nav2num;i++){
			$('#hid li').insertBefore($('#nav2 li').eq(i));
		}
	});
</script>
</html>
