<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>网站建设中</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/construction.css">
	<!--[if IE]>
	<script type="text/javascript" src="__PUBLIC__/js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="left">
		<h1>网站建设中。</h1>
	</div>
	<div id="right">
		<h1>剩余<span>60</span>天。</h1>
	</div>
	<div id="center">
		<ul>
			<li id="logo"><img src="__PUBLIC__/images/logo.png"></li>
			<li id="gear"><img src="__PUBLIC__/images/gear1.png"></li>
			<li id="name">
				思迪亚（北京）体育<span>文化发展有限公司</span>
			</li>
			<li id="address">
				Sdyspo<span>rts.com</span>
			</li>
		</ul>
	</div>
</body>
</html>