<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>思迪亚课程计划</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/share.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/contact.css">
	<!--[if IE]>
	<script type="text/javascript" src="__PUBLIC__/js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="fixed_bg"></div>
<include file="Public/header" />
	<div id="main">
		<h1>咨询思迪亚</h1>
		<div id="name_card">
			<h2>咨询方式</h2>
			<p>邮箱：sdy_sports@126.com</p>
			<p>电话：010-60532660<br>18610404321&nbsp&nbsp&nbsp邢教练</p>
		</div>
	</div>
<include file="Public/footer" />
