<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>思迪亚课程计划</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/share.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/club.css">
	<!--[if IE]>
	<script type="text/javascript" src="__PUBLIC__/js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="fixed_bg"></div>
<include file="Public/header" />
	<div id="main">
		<h1>快乐篮球</h1>
		<article>
			<img src="__PUBLIC__/images/club.jpg">			
	      	<p>招生范围（4—6岁）</p>
	      	<br>
	      	<p>让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
	      	<br>
	      	<p>卡次介绍：</p>
	      	<br>
	      	<p>1、季卡：   能够熟练进行原地、行进间运球、运球变向、上三步篮以及身体素质的提高。</p>
	      	<p>2、半年卡：在以上基础上更加深化的进行练习，如四项基本运球、三步上篮、传接球以及投篮，同时更加细致的进行身体方面的练习。</p>
	      	<p>3、全年卡：能够熟练进行原地以及行进间的运球、上篮、投篮、同时可以适当进行篮球对抗赛</p>
	      	<img src="__PUBLIC__/images/map.jpg">
	    </article>
	</div>
<include file="Public/footer" />
