
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>幼儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>少儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>青少年篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>思迪亚游学计划</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>幼儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>少儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>青少年篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>思迪亚游学计划</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>幼儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>少儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>青少年篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>思迪亚游学计划</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>幼儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>少儿篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	<li>
		<img src="__PUBLIC__/images/set1.gif">
		<h1>青少年篮球</h1>
		<h2>招生范围：4 - 6岁</h2>
		<p> 让热爱篮球的青少年儿童更深切的体会篮球这项运动，提高自身的身体素质，同时孩子在成长期促进身体发育，也为今后的体育运动打下良好的基础。快乐篮球会根据孩子的具体情况进行量身打造训练计划，在孩子青少年阶段主要提高孩子的球性、协调性、柔韧性、灵活性等为主。</p>
		<a href="#" class="learn_more">了解详情</a>
	</li>
	
