<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.mousewheel-3.0.6.pack.js"></script>
	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="__PUBLIC__/source/jquery.fancybox.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/source/jquery.fancybox.css?v=2.1.5" media="screen" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/share.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/member.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/pics_page_divide.js"></script>
	<!--[if IE]>
	<script type="text/javascript" src="__PUBLIC__/js/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
	$(document).ready(function(){
		$('.fancybox').fancybox();
	})
	</script>
</head>
<body>
	<div id="fixed_bg"></div>
<include file="Public/header" />
	<div id="main">
		<div id="splendid">
			<div id="wra_1">
				<div id="header_wra_1">
					<img src="{$member1.pic}">
					<h1>{$member1.name}</h1>
				</div>
				<p>{$member1.content}</p>
			</div>
			<div id="wra_2">				
				<p>{$member2.content}</p>
				<div id="header_wra_2">
					<img src="{$member2.pic}">
					<h1>{$member2.name}</h1>
				</div>
			</div>
		</div>
		<div id="hidden_result" style="display:none;"></div>
		<div id="show_wrap">			
			<div id="Pagination" class="pagination"></div>
			<h1>学员风采</h1>
			<div style="clear:both;"></div>
			<div id="show_box">			
				
			</div>
		</div>
	</div>
<include file="Public/footer" />
<input type="hidden" id="load" value="{:U('showContent')}?cid={$column.cid}" />

