<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/share.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/video.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/page_divide.js"></script>
	<!--[if IE]>
	<script type="text/javascript" src="__PUBLIC__/js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="fixed_bg"></div>
	<include file="Public/header" />
	<div id="main">		
		<ul id="list">
			分页初始化完成后这里的内容会被替换。		
		</ul>
		<ul id="hidden_result" style="display:none;"></ul>
		<ul id="side_bar">
			<volist name="vList" id="vo" >
			<li>
			<a href="{:U('showContent')}?cid={$column.cid}&id={$vo.id}" ><h1>{$vo.title}</h1></a>
			<span>{$vo.time|date="Y年m月d日"}</span>
			</li>
			</volist>
		</ul>
		<div style="clear:both;"></div>
		<div id="Pagination" class="pagination"></div>
	</div>
<include file="Public/footer" />
<input type="hidden" id="load" value="{:U('showContent')}?cid={$column.cid}&id={$Think.get.id}" />
<input type="hidden" id="ul" value="#list" />
