<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>视频发布</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/share.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/video.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/video_page_divide.js"></script>
	<!--[if IE]>
	<script type="text/javascript" src="__PUBLIC__/js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="fixed_bg"></div>
	<include file="Public/header" />
	<div id="main">		
		<ul id="list">
			分页初始化完成后这里的内容会被替换。		
		</ul>
		<ul id="hidden_result" style="display:none;"></ul>
		<ul id="side_bar">
			<li>
				<a href="#"><h1>2014-2015 CBA联赛总决赛精彩进球</h1></a>
				<span>2015年6月21日</span>
			</li>
			<li>
				<a href="#"><h1>2014-2015 CBA联赛总决赛精彩进球</h1></a>
				<span>2015年6月21日</span>
			</li>
			<li>
				<a href="#"><h1>2014-2015 CBA联赛总决赛精彩进球</h1></a>
				<span>2015年6月21日</span>
			</li>
			<li>
				<a href="#"><h1>2014-2015 CBA联赛总决赛精彩进球</h1></a>
				<span>2015年6月21日</span>
			</li>
		</ul>
		<div style="clear:both;"></div>
		<div id="Pagination" class="pagination"></div>
	</div>
<include file="Public/footer" />
