<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>思迪亚课程计划</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/share.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body>
	<div id="fixed_bg"></div>
	<header>
		<nav>
			<img src="__PUBLIC__/images/logo.gif">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">思迪亚体育联盟</a></li>
				<li><a href="#">思迪亚课程计划</a></li>
				<li><a href="#">思迪亚梦工厂</a></li>
				<li><a href="#">思迪亚在中国</a></li>
				<li><a href="#">关于思迪亚</a></li>
				<div style="clear:both;"></div>			
			</ul>
		</nav>
		<div id="nav2">
			<span id="indicator">思迪亚课程计划</span>
			<ul>
				<li><a href="#">思迪亚课程计划</a></li>
				<li><a href="#">xxx</a></li>				
			</ul>
			<ul style="display:none;" id="hid"><li>/</li></ul>
		</div>		
	</header>
	<div id="main">
		
	</div>
	<footer>
		<div id="sns">			
			<a href="http://weibo.com/u/5642419086" target="_blank" class="sns_weibo"></a>
			<a href="#" class="sns_weixin"></a>
	  		<div id="weixin_code"></div>
		</div>
	</footer>
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/share.js"></script>
</html>
